body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 50%, #ffffff 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
    
}

.logo img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.info-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #3498db;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    line-height: 20px;
    cursor: help;
    margin-left: 10px;
    vertical-align: middle;
}

.info-tooltip {
    position: absolute;
    left: calc(100% - 250px);
    top: 0;
    margin-left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    display: none;
    z-index: 100;
}

.info-icon:hover + .info-tooltip {
    display: block;
}

.info-tooltip img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 5px;
}

button {
    background-color: #1500b3;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffe77d;
}

.result {
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #ddd;
}

